---
import Layout from '../../layouts/Layout.astro';

const posts = import.meta.glob('./posts/*.md');
let allPosts = await Promise.all(
  Object.entries(posts).map(async ([path, resolver]) => {
    const post = await resolver();
    return { ...post, url: path.replace(/\.md$/, '') };
  })
);
let tags = new Set();
let filteredPosts = allPosts.filter((post) => {
  post.frontmatter.tags.forEach((tag) => tags.add(tag));
  return post;
});
let selectedTag = ''
console.log(selectedTag)
---

<Layout title="Blog" description="El blog de Alexandra Ivanova • Ideas, recomendaciones y consejos que me gusta compartir.">
  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-4 text-center sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Blog</h1>
          <p
            class="mx-auto max-w-xl text-lg text-primary-950/70 dark:text-primary-200/70 sm:text-xl"
          >
            Ideas, recomendaciones y consejos que me gusta compartir.
          </p>
        </div>
        <div>
          {
            [...tags].map((tag) => (
              <button onclick={()=> selectedTag = tag }>
                <span class="bg-gray-200 text-gray-700 mr-2 inline-block rounded-full bg-primary-200 px-3 py-1 text-sm font-semibold">
                  #{tag}
                </span>
              </button>
            ))
          }
        </div>
        <div class="grid  gap-8 lg:grid-cols-3">
          {
            filteredPosts.map((post) => (
              <figure class="h-auto rounded-lg bg-white p-4 shadow-md">
                <img
                  src={post.frontmatter.imgUrl}
                  alt={post.frontmatter.imgAlt}
                  class="h-48 w-full rounded-t-lg object-cover"
                />
                <figcaption class="mt-4">
                  <h3 class="text-xl font-semibold">{post.frontmatter.title}</h3>
                  <p class="text-gray-500">
                    {post.frontmatter.pubDate.substring(0, 10)} • {post.frontmatter.author}
                  </p>
                  <p class="text-gray-700 mt-2">{post.frontmatter.description}</p>
                  <div class="mt-4">
                    {post.frontmatter.tags.map((tag:string) => (
                      <a href=`/blog/{tag}`>
                        <span class="bg-gray-200 text-gray-700 mr-2 inline-block rounded-full bg-primary-200 px-3 py-1 text-sm font-semibold">
                          #{tag}
                        </span>
                      </a>
                    ))}
                  </div>
                  <a
                    href={post.url}
                    class="hover:text-blue-800 mt-4 inline-block rounded-full bg-primary-400 p-4 text-white"
                  >
                    Leer más
                  </a>
                </figcaption>
              </figure>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
