---
const { frontmatter } = Astro.props;
import Layout from './Layout.astro';

---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <section class="py-16 sm:py-20">
    <div class="text-center items-center">
      <div class="mx-auto h-1/3">
        <img
          src={Astro.props.content.imgUrl}
          alt={Astro.props.content.imgAlt}
          class="sm:rounded-4xl  rounded-3xl object-cover object-center md:w-2/4 mx-auto"
        />
      </div>
      <h1 class="mt-4 text-3xl font-bold">{Astro.props.content.title}</h1>
      <h2 class="text-gray-500 text-xl">{Astro.props.content.subtitle}</h2>
      <p class="text-gray-500 mt-2">
        By {Astro.props.content.author} • {Astro.props.content.pubDate.substring(0, 10)}
      </p>
      <div class="mt-4">
        {
          Astro.props.content.tags.map((tag) => (
            <a href=`/blog?tag=${tag}`>
            <span class="bg-gray-200 text-gray-700 mr-2 inline-block rounded-full px-3 py-1 text-sm font-semibold bg-primary-200">
              #{tag}
            </span>
          </a>
          ))
        }
      </div>
    </div>
    <div class="mt-8 text-start m-16">
      <slot /> 
    </div>
  </section>
</Layout>
